{% extends 'base.html' %} {% block content %}
{% load static %}

<head>
  <link rel="stylesheet" href="{% static 'css/contact_us.css' %}">
  


</head>

<div class="shadow container align-middle" id="email-container">
  <div class="row align-center align-middle mt-5" id="email-box">
    <div class="col-8 col-sm-8 col-md-8 align-items-center">
      <div class="card-body">
        <form class="form-vertical" method="POST">
          <div class="contactForm">
            <div class="row">
              {% csrf_token %}
              <div class="row">
                <div class="form-group icon-1">
                  <label class="control-label sr-only" for="email">Email</label>
                  {{form.from_email}}
                </div>
              </div>
              <div class="row">
                <div class="form-group icon-1">
                  <label class="control-label sr-only" for="subject">Subject</label>
                  {{form.subject}}
                </div>
              </div>
              <div class="row">
                <div class="form-group icon-1">
                  <label class="control-label sr-only" for="message">Message</label>
                  {{form.message}}
                </div>
              </div>
            </div>
            <div class="form-actions" style="text-align: center;">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary btn-lg ">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-4 col-sm-4 col-md-4 align-content-between" style="background-color: #3398E1;">
      <div class="row align-content-between">
        <h1 id="social-text" >Our Social Media</h1>
        <div class="col-2 p-3">
          <i class="bi bi-instagram" style="font-size: 32px; color: white;"></i>
        </div>
        <div class="col-10 pt-4 align-items-center justify-content-center" >
          <p class="text-sosmed" >pondoksagumetro</p>
        </div>
        <div class="w-100 d-none d-md-block"></div>
        <div class="col-2 p-3">
          <i class="bi bi-whatsapp" style="font-size: 32px; color: white;"></i>
        </div>
        <div class="col-10 pt-4 align-items-center justify-content-center" >
          <p class="text-sosmed" >+62 852-1975-2557</p>
        </div>
        <div class="w-100 d-none d-md-block"></div>
        <div class="col-2 p-3">
          <i class="bi bi-shop" style="font-size: 32px; color: white;"></i>
        </div>
        <div class="col-10 pt-sm-4 align-items-center justify-content-center" >
          <p class="text-sosmed" id="teks_toko" >tokopedia.com/pondoksagumetro</p>
        </div>
        <div class="w-100 d-none d-md-block"></div>
        <div class="col-2 p-3">
          <i class="bi bi-facebook" style="font-size: 32px; color: white;"></i>
        </div>
        <div class="col-10 pt-sm-4 align-items-center justify-content-center" >
          <p class="text-sosmed" id="teks_fb" >facebook.com/pondoksagumetro/</p>
        </div>
      </div>
    </div>
  </div>

</div>


{% endblock content %}